* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Arial, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
}

:root {
  --display-resolution-width: 1680px;
  --display-resolution-height: 1050px;

  width: var(--display-resolution-width);

  --z-overlay: 1000;
  --z-dialog: 1100;
  --z-stockout: 10;
  --z-dropdown: 999;

  /* Colors for Button */
  --btn-primary: #b02a37;
  --btn-accent: #ee5c5c;
  --btn-neutral: #757575;
  --btn-muted: #cbbaba;
  --btn-soft: #ffe5d0;
  --btn-active: #ef9e9e;
  --btn-link: #475191;
  --btn-gray: #d9d9d9;
  --btn-red: #DC2C2C;

  /* Color for Text */
  --text-primary: #000000;
  --text-inverse: #ffffff;
  --text-error: #e3242a;
  --text-link: #475191;
  --text-success: #26bd67;
  --text-accent: #ee5c5c;
  --text-accent-dialog: #b02a37;
  --text-price: #fe0101;

  /* Background Colors */
  --background-dialog: #fffcf5;
  --background-items: #d1e7dd;
  --background-app: #fffcf5;
  --background-select-toppoing: #FFF3E6;
}

body {
  width: var(--display-resolution-width);
  height: var(--display-resolution-height);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Arial, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
}

.text-primary {
  color: var(--text-primary);
} /* màu chữ (đen) */
.text-inverse {
  color: var(--text-inverse);
} /* màu chữ (trắng) */
.text-error {
  color: var(--text-error);
} /* màu chữ (đỏ) */
.text-link {
  color: var(--text-link);
} /* màu chữ (xanh) */
.text-success {
  color: var(--text-success);
} /* màu chữ (xanh lá) */
.text-accent-dialog {
  color: var(--text-accent-dialog);
} /* màu chữ dialog (đỏ đậm) */
.text-price {
  color: var(--text-price);
} /* màu chữ giá (đỏ) */

.bg-button-primary {
  background: var(--btn-primary);
} /* nút chính (đỏ đậm) */
.bg-button-accent {
  background: var(--btn-accent);
} /* nút nhấn / badge (đỏ nhạt) */
.bg-button-neutral {
  background: var(--btn-neutral);
} /* nút (xám) */
.bg-button-muted {
  background: var(--btn-muted);
} /* nút disabled (xám nhạt) */
.bg-button-soft {
  background: var(--btn-soft);
} /* nút nền nhẹ (cam nhạt) */
.bg-button-link {
  background: var(--btn-link);
} /* nút liên kết (xanh) */
.bg-button-gray {
  background: var(--btn-gray);
} /* nút xám nhạt */
.bg-button-red {
  background: var(--btn-red);
} /* nút đỏ */

/* Fade transition for pages and dialogs */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
