* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Arial, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
}

:root {
  --display-resolution-width: 1680px;
  --display-resolution-height: 1050px;

  width: var(--display-resolution-width);

  --z-overlay: 1000;
  --z-dialog: 1100;

  /* Colors for Buttons */
  --btn-primary: #b02a37;
  --btn-accent: #ee5c5c;
  --btn-neutral: #757575;
  --btn-muted: #cbbaba;
  --btn-soft: #ffe5d0;
  --btn-active: #ef9e9e;
  

  /* Color for Text */
  --text-primary: #000000;
  --text-inverse: #ffffff;
  --text-error: #e3242a;
  --text-link: #475191;
  --text-success: #26bd67;
  --text-accent: #EE5C5C;
  --text-accent-dialog: #b02a37;

  /* Background Colors */
  --background-dialog: #fffcf5;
  --background-items-guide: #d1e7dd;
  --background-app: #fffcf5;
}

body {
  width: var(--display-resolution-width);
  height: var(--display-resolution-height);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Arial, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
}

.text-primary {
  color: var(--text-primary);
} /* màu chữ (đen) */
.text-inverse {
  color: var(--text-inverse);
} /* màu chữ (trắng) */
.text-error {
  color: var(--text-error);
} /* màu chữ (đỏ) */
.text-link {
  color: var(--text-link);
} /* màu chữ (xanh) */
.text-success {
  color: var(--text-success);
} /* màu chữ (xanh lá) */
.text-accent-dialog {
  color: var(--text-accent-dialog);
} /* màu chữ dialog (đỏ đậm) */

.bg-button-primary {
  background: var(--btn-primary);
} /* nút chính (đỏ đậm) */
.bg-button-accent {
  background: var(--btn-accent);
} /* nút nhấn / badge (đỏ nhạt) */
.bg-button-neutral {
  background: var(--btn-neutral);
} /* nút (xám) */
.bg-button-muted {
  background: var(--btn-muted);
} /* nút disabled (xám nhạt) */
.bg-button-soft {
  background: var(--btn-soft);
} /* nút nền nhẹ (cam nhạt) */
